<div class="modal-dialog block-popup-login">
		<div class="tt_popup_login"><strong>Sign in Or Register</strong></div>
		<form method="post">
			<input name="form_key" type="hidden" value="">
			<div class="block-content">
				<div class="col-reg registered-account">
					<div class="email-input">
						<input title="User Name" type="text" name="login[username]" id="mini-login" class="input-text" placeholder="User name">
					</div>
					<div class="pass-input">
						<input title="Password" type="password" name="login[password]" id="mini-password" class="input-text" placeholder="Password">
					</div>
					<div class="ft-link-p">
						<a title="Forgot your password?" href="">Forgot your password?</a>	
					</div>
					<div class="actions">
						<div class="submit-login">
							<input title="Login" type="submit" class="button btn-submit-login" name="submit" value="Login">
						</div>	
					</div>
					
				</div>
				<div class="col-reg login-customer">
					<h2>NEW HERE?</h2>
					<p class="note-reg">Registration is free and easy!</p>
					<ul class="list-log">
						<li>Faster checkout</li>
						<li>Save multiple shipping addresses</li>
						<li>View and track orders and more</li>
					</ul>
					<a class="btn-reg-popup" title="Register" href="#/sign-up">Create An Account</a>
				</div>
				<div style="clear:both;"></div>
			</div>
		</form>
	</div>