<div id="tour" class="bg-1 products">
    <div class="container">
        <h3 class="text-center">Our products</h3>
        <p class="text-center">Full collection of Patisserie Moderne tasty pieces is provided here!<br> Remember to order!<br></p>

       <div class="row text-center">
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="images/annie-spratt-96526.jpg" alt="Tiramissue" width="400" height="300">
                    <p><strong>Tiramissue</strong></p>
                    <p>Price $$</p>
                    <p>Describtion: Bla Bla Bla</p>
                    <p>Available?</p>
                    <button class="btn" data-toggle="modal" data-target="#myModal">Order</button>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="" alt="Cake" width="400" height="300">
                    <p><strong>Cake</strong></p>
                    <p>Price $$</p>
                    <p>Describtion: Bla Bla Bla</p>
                    <p>Available?</p>
                    <button class="btn" data-toggle="modal" data-target="#myModal">Order</button>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="" alt="Donuts" width="400" height="300">
                    <p><strong>Donuts</strong></p>
                    <p>Price $$</p>
                    <p>Describtion: Bla Bla Bla</p>
                    <p>Available?</p>
                    <button class="btn" data-toggle="modal" data-target="#myModal">Order</button>
                </div>
            </div>
        </div>
    </div>