<div id="tour" class="bg-1 products">
    <div class="container">
        <h3 class="text-center">Our products</h3>
        <p class="text-center">Full collection of Patisserie Moderne tasty pieces is provided here!<br> Remember to order!<br></p>

       <div class="row text-center">
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="images/annie-spratt-96526.jpg" alt="Tiramissue" width="400" height="300">
                    <p><strong>rainbow cake</strong></p>
                    <p>Price: $35</p>
                    <p>Taste the collors of the rainbow</p>
                    <button class="btn" data-toggle="modal" data-target="#myModal">Order</button>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="images/tiram.jpg.crdownload" alt="Cake" width="400" height="300">
                    <p><strong>Tiramisu Cake</strong></p>
                    <p>Price: 40$</p>
                    <p>The melt of coffee in your mouth</p>
                    <button class="btn" data-toggle="modal" data-target="#myModal">Order</button>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="images/donut%20cake.JPG" alt="Donuts" width="400" height="300">
                    <p><strong>Donut Cake</strong></p>
                    <p>50$</p>
                    <p>A giant Donut</p>
                    <button class="btn" data-toggle="modal" data-target="#myModal">Order</button>
                </div>
            </div>
        </div>
    </div>
</div>